html {
  font-family: "Saira Stencil One", cursive;
  background-color: #262c3a;
  color: white;
}

body {
  margin: 0;
}

.nav-bar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #262c3a;
}

.nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  flex-basis: auto;
}

.nav-link:hover {
  color: #6c7999;
  /* background-color: #4b5772; */
}

.logo {
  max-width: 140px;
  max-height: 140px;
  margin-top: -37px;
}

#logo-container {
  text-align: center;
  width: 100%;
  max-height: 52px;
}

header {
  display: flex;
  justify-content: center;
}

main {
  margin-top: 120px;
}

.title {
  text-align: center;
}

.description {
  margin: 15px 10px;
  padding: 5px;
  border: solid #f15406 0.5px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #f15406;
}

.embeded-vid {
  display: block;
  margin: auto;
  width: 90vw;
  height: 25vh;
}

.items-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  display: inline-block;
  width: 70%;
  height: auto;
  border: solid #f15406 0.5px;
  box-shadow: 0px 0px 18px #f15406;
  text-align: center;
  margin: 20px 0px;
}

.item-name {
  color: #f15406;
  font-size: 35px;
}

.item-content {
  box-sizing: border-box;
  width: 100%;
}

.item-description {
  width: 100%;
  height: 20%;
  color: red;
  margin: 0px 4px;
  text-align: center;
}

.item-cost {
  font-size: 30px;
  color: gold;
  margin: 0px;
}

.btn {
  font-family: inherit;
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px #262c3a;
  background-color: #f15406;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-appearance: none;
}

#form {
  display: block;
  text-align: center;
  flex-wrap: wrap;
}

.input-field {
  padding: 13px;
  margin: 15px;
  width: 85%;
  border-radius: 5px;
  border: none;
}

.input-field:focus {
  box-shadow: 0px 0px 30px #f15406;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .description {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
  }
  .embeded-vid {
    height: 38vh;
  }
  .item-card {
    width: 35%;
    margin: 20px 20px;
  }
  .input-field {
    display: block;
    justify-self: auto;
    width: 70%;
    margin: 15px auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .description {
    width: 840px;
    height: 315px;
    margin: auto;
    margin-bottom: 30px;
  }
  .embeded-vid {
    width: 840px;
    height: 472.5px;
  }
  .item-card {
    display: block;
    width: 20%;
    margin: 20px 20px;
  }
  .item-description {
    width: 80%;
    padding: 5px;
  }
  .input-field {
    width: 20%;
  }
  .btn {
    margin-top: 10px;
  }
}
